

body{
    background-color: black;
    color: #97ffef;
    height: auto;
    width: auto;
    margin: 0 !important;
    padding: 0 !important;
}


/* --------------------NAV-------------------- */

nav{
    background-color: #97ffef;
    height: 40px;
    margin: 0;
    position: static;
    top: 0px;
    width: 100%;
}

.row{
    display: flex;
    justify-content: end;
    margin: 0;
    list-style: none;
    margin-right: 15px;
}
.row > .col{
    align-items: center;
    border-left: solid 1px black;
    height: 40px;

    width: 100px;
}
.row > .col:hover{
    background-color: black;
}
.row > .col > a{
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 900;
    height: 40px;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-left: 10px;
    width: 90px;
    text-decoration: none;
    
}
.row > .col > a:hover{
    color: #97ffef;
}


/* --------------------MAIN-------------------- */
main{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 500px;
}
.container{
    background-color: black;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 1;

    margin: 0px;
    margin-bottom: 5px;

}

#bg{
margin: 0;
padding: 0;
position:static;
max-width: 100%;
overflow: hidden;
top: -400px;
}

source{
    z-index: 0;
}